body{
    height: 100vh;
    width: 100vw;
    background-image: url(../img/wallpaper-php.jpg);
}

.container-todolist{

    height: 40vh;
    overflow: auto;

}   


.bg-todolist-container{
    background-color: rgba(225, 225, 225, 0.84);
}